<div id="main-menu">

  <div data-menu="container">
    <h1 class="logo">
      <div class="hamburguer" data-menu="hamburguer">
        <div></div>
        <div></div>
        <div></div>
      </div>
      ${this.title}
    </h1>
    <nav id="nav-bar" data-menu="nav">
      <ul>
        <li>
          <a is="app-link" href="/method">Method</a>
        </li>
        <li>
          <a is="app-link" href="/property">Property</a>
        </li>
        <li>
          <a target="_blank" href="https://raw.githubusercontent.com/Cahmoraes/simple-decorator-examples/main/src/js/sd.js">Download Dev Version ➤</a>
        </li>
      </ul>
    </nav>
  </div>
</div>